   <header>
        <div class="container">
            <p class="logo">Destinos 2022</p>
            <nav>
                <a href="/inicio">Home</a>
            </nav>
            </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<main>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="recursos/dubai.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dubai, Emiratos Árabes</h5>
              <p class="card-text">Dubái es un destino que mezcla cultura moderna con historia, aventura con compras y entretenimiento de clase mundial. Lo más grande. Lo más alto. Lo más llamativo. Dubái hace todo al extremo, destacándose por su diseño ultramoderno en un país históricamente conservador. Los enormes rascacielos, las islas con forma de palmera y las playas doradas, junto a una emocionante vida nocturna, centros comerciales de lujo y gastronomía de primer nivel, hacen que la ciudad sea una vista en sí misma digna de admirar y explorar.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="recursos/londres.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Londres, Reino Unido</h5>
              <p class="card-text">Londres es una ciudad con muchas capas de historia, donde lo medieval y lo victoriano complementan un mundo abundante y moderno. La Torre de Londres y Westminster están rodeados de pubs y mercados locales, y antiguos rituales como el cambio de guardia pueden apreciarse mientras los lugareños se apuran para tomar el metro. Es un lugar en el que los viajeros pueden pasar de una época a la otra atravesando la ciudad y, cuando están cansados, pueden hacer como los londinenses y tomarse una taza de té.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="recursos/cancun.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cancún, Mexico</h5>
              <p class="card-text">“Vacaciones de primavera para siempre” acostumbraba ser el lema no oficial de Cancún, pero la ciudad fiestera más famosa de México tiene mucho más para ofrecer que playas perfectas y clubes nocturnos salvajes. Elegantes resorts están subiendo el nivel de lujo de Cancún y se pueden encontrar aventuras para toda la familia en la mayoría de ellos. Pero no te preocupes, si vas a visitar Cancún por sus fiestas, todavía puede ofrecerte lo que necesitas. Los clubes como Coco Bongo, The City y Hard Rock Cafe mantienen el ambiente fiestero hasta tarde. Y, cuando estés listo para descansar, las arenas blancas y las aguas color azul profundo del Mar Caribe nunca están a más de unos pasos de distancia.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="recursos/bali.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bali, Indonesia</h5>
              <p class="card-text">Ninguna otra isla maravilló a los viajeros como Bali. Con menos de la mitad de la superficie de Isla de Hawái, Bali logra meter incontables aventuras en un pequeño paquete. Increíbles playas reciben a los amantes del sol y a los surfistas a lo largo de la costa sudoeste de la isla, mientras que los templos antiguos y un próspero ambiente de bienestar atrae a los viajeros tierra adentro, a Ubud. Es el tipo de lugar en el que tanto los sibaritas como los viajeros que desean relajarse y los amantes del ecoturismo pueden encontrar algo para disfrutar, desde salvajes clubes nocturnos en Seminyak y Kuta hasta lujosos hoteles sobre el acantilado en Nusa Dua y las prístinas selvas y paisajes volcánicos del norte de la isla.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="recursos/creta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Creta, Grecia</h5>
              <p class="card-text">La isla de Creta es una joya griega flotando en un mar turquesa. Las playas son extensiones maravillosas de arena acolchada y suaves guijarros. Su importancia histórica y mitológica no pueden pasarse por alto: se dice que Creta fue el lugar de nacimiento de Zeus, el rey de los dioses, y la cuna de la primera civilización moderna de Europa. Abundan los sitios arqueológicos e históricos, los cuales proporcionan un recreo imponente luego de un día pleno de sol en la playa.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="recursos/roma.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Roma, Italia</h5>
              <p class="card-text">La floreciente ciudad de Roma sigue siendo una de las paradas más importantes del mundo, gracias a su mezcla impecable de maravillas del Viejo Mundo y placeres modernos. Las ruinas del Coliseo, sus icónicas fuentes, los relajados paseos por calles adoquinadas con un helado en la mano: todo esto y más te invitan a acercarte. Roma es una sinuosa y espectacular ciudad llena de lugares para descubrir.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="recursos/cabosanlucas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cabo San Lucas, Mexico</h5>
              <p class="card-text">Cabo San Lucas, que atrae a ruidosos turistas de primavera y celebridades de primer nivel, es el lugar ideal para pasar las vacaciones. Desde un relajante crucero en las tranquilas aguas del Mar de Cortés hasta frenéticas congas y tragos de tequila en Congo Bongo, Cabo te lleva por sus altibajos desde el día hasta la noche. Para descansar de las bulliciosas multitudes, las calas y formaciones rocosas de las playas de Cannery son la alternativa perfecta. Los niños se divertirán en comunión con los animales de la zona haciendo avistamiento de ballenas o dando un paseo en camello por la Reserva Natural Parque del Desierto.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="recursos/estambul.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Estambul, Turquía</h5>
              <p class="card-text">A lo largo de los siglos, muchas culturas le dejaron su marca a Estambul. Hoy en día, es posible disfrutar de esas influencias de primera mano explorando sus mahalles (colonias). Desde los sitios sagrados de Sultanahmet y la elegancia europea del siglo XIX de Beyoğlu hasta la alta moda de Nişantaşı, la animada Café Society de Kadıköy y las calles amantes del fútbol de Beşiktaş, es fácil ver por qué los viajeros dicen que Estambul no es solo una ciudad, sino muchas ciudades en una.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="recursos/paris.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">París, Francia</h5>
              <p class="card-text">Ningún lugar del mundo hace que el corazón se sienta extasiado como cuando se menciona París. La ciudad atrae con arte, arquitectura, cultura y cocina increíbles, pero también hay una magia más tranquila que está esperando que la explores: las pintorescas calles adoquinadas, las dulces pastelerías en cada esquina y los acogedores pequeños bistrós que te atraen con una copa de Beaujolais.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="recursos/hurghada.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hurghada, Egipto</h5>
              <p class="card-text">Impresionantes arrecifes de coral y aguas turquesa ideales para la práctica del windsurf han hecho de Hurghada, en la costa egipcia del Mar Rojo, un centro turístico muy concurrido. Muy cerca de las impresionantes islas Giftun y del desierto árabe del este, ha presenciado un enorme desarrollo en la última década, y es verdad que, a veces, parece estar infestada de turistas. Pero es una escapada a la playa relativamente fácil para los europeos, y algunos de los mejores sitios para hacer buceo y snorkeling en el mundo están costa afuera. Caminá o tomá un taxi para recorrer el antiguo barrio de El Dahar.</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      <footer>
        <div class="footer">
            <p>&copy; Destinos 2022</p>
       </div>
    </footer>
</main>