  <header>
        <div class="container">
            <p class="logo">Destinos 2022</p>
        <nav>
            <a href="/inicio">inicio</a>
        </nav>
    
    </div>
    </header>
    <br>
    <div class="iniciodesesion"> 

    <h2>Inicio de sesión</h2>


    <form class="sesion">
       <input type="email" name="email" placeholder="email"><br>
       <input type="password" name="password" placeholder="password"><br>
       <button type="submit">Submit</button>
    </form>
</div>
<footer>
    <div class="footer">
        <p>&copy; Destinos 2022</p>
   </div>
</footer>